################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/CognitivePipeline/.vs
/src/CognitivePipeline/CognitivePipeline.Functions.UnitTests
